@media all and (max-width: 576px){
    .slider-responsive{
        height: 250px;
        object-fit: cover;
    }

    .centrado{
        text-align: center;
    }
}

.header{
   width: 100%;
   height: 158.65px;
}

.footer{
   width: 100%;
   height: 158.65px;
}

main{
   min-height: calc( 100vh - 158.65px - 158.65px );
}